.collection_card{
    border: 1px solid #eee;
    min-height: 250px;
    min-width: 400px;
    max-width: 400px;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-left: 0.3rem;
}


.image_count{
    font-size: 0.5rem;
    color: darkgrey;
}


.collection_card_image{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #eee;
    margin: 0.5rem 0rem;
    padding: 0.2rem;
    max-height: 150px;
    align-items: center;
    min-height: 150px;
    overflow: auto;
}






